html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.ms-welcome__header h1 {
    font-size: 1rem;
}

.ms-welcome__header {
    padding: 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
}

.spinner {
    margin-top: 50px;
}

.ms-stock-prices__main,
.ms-stock-prices__details {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    padding: 20px;
}

.ms-stock-prices__details > Button {
    margin-bottom: 20px;
}

.stock-list-symbol {
    font-weight: bold;
    min-width: 200px;
}

.ms-stock-prices__main .ms-List {
    list-style-type: none;
    margin-top: 20px;
}

.ms-stock-prices__main .ms-List .ms-ListItem {
    padding-bottom: 20px;
}

.ms-stock-prices__main .ms-List .ms-ListItem Button {
    text-align: left;
    width: 100%;
}
 
.percentage-neutral {
    color: #0078d7;
}

.percentage-positive {
    color: green;
}

.percentage-negative {
    color: red;
}

.detail-price {
    font-weight: bold;
}

.stock-list-price {
    display: block;
    text-align: right;
}
